@media all and (min-width: 1280px) {
    .container{
    width: 105%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}



.burger{
    width: 64px;
    display: none;
    position:static;
  }
}
@media all and (max-width: 1024px){

    .container{
        width: 110%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        margin: 0  auto;
       
    }

    .menu {
        list-style:none;
        display: none;
        
     
    
      }

     
   
    
    .burger{
        width: 50px;
        z-index: 1;
        cursor: pointer;
        margin-top: 4px;
        position: absolute;
        

        
      }

      .long_in_text {
        display: none;
      }

      .icon_reg {
       
        width: 50px;
        z-index: 1;
        margin-top: 3px;
        position: sticky;
      }

      .icon_log_in{
        width: 56px;
        position: absolute;
        z-index: 1;
        margin-left: 93%;
      }
}





